
<!-- <div class="main top-main"> -->
  <div class="top-message">
    <h1>Humming Search</h1>
    <p>その曲、人に聞いたらわかるかも</p>
    <p><strong>Humming Search</strong>では、鼻唄の投稿で、その曲名や歌手名を回答してもらえます。</p>
    <p>また、あなたの音楽の知識が、人々の疑問解消にも役立ちます。</p>
  </div>
<!-- </div> -->



<!-- <p>Find me in app/views/home/top.html.erb</p> -->
