<div class="main top-main">
    <h2 class = "top-title">Humming Search</h2>
    <div class= "top-comment">
      <p>その曲、人に聞いたらわかるかも</p>
      <p><strong>Humming Search</strong>では、鼻唄の投稿で、その曲名や歌手名を回答してもらえます。
      </p>
      <p>また、あなたの音楽の知識が、人々の疑問解消にも役立ちます。
      </p>
    </div>
    <img src="/top/music_cdj_woman.png" class="top_pic">
    <img src="/top/mimi_sumasu_man.png" class="top_pic">
    <img src="/top/question_head_boy.png" class="top_pic">
    <img src="/top/hirameki_man.png" class="top_pic">
</div>
