<h1>質問一覧</h1>

<div class="main posts-index">
  <div class="container">
    <div class="posts-index-item">
    <% @posts.each do |post| %>
        <%= link_to(post.details, "/posts/#{post.id}")%>
        <audio controls src=" <%= "/user_audio/#{post.audio_name}" %>"></audio>
      </div>
    <% end %>
  </div>
</div>
