<div class="main posts-new">
  <div class="container">

    <h1 class="from-heading">録音データの取得</h1>

      <!-- JavaScriptにユーザーIDを渡すための動作 -->
      <input id = "user_id" type="hidden" name="data" value="<%= @user.id%>" >

        <div class="form">
          <div class="form-body">

            <section class="main-controls">
              <div id = "user_id"><%=  "#{@user.name}さんの質問" %></div>
                <canvas class="visualizer" height="60px" width="739"></canvas>
              <div id = "buttons">
                <button class="record">録音開始</button>
                <button class="stop">録音完了</button>
              </div>

              <!-- <input type="text" id="details" placeholder="説明を入力してください"> -->
              <textarea name="details" id="details" cols="30" rows="10" placeholder=

              "説明を入力してください

・楽曲の特徴
  - 歌詞の有無
　- ジャンル（邦楽、洋楽、ジャズ、クラシック…）
　- アーティストの特徴（バンド、女性・男性ボーカル、ツインボーカル）
  　
・聞いた場面
  - CM、ドラマ、
  - 年代、季節
  "></textarea>
                <section class="sound-clips">
                </section>
            </section>

          </div>
        </div>
    ※注意
    このページではデバイスのマイクを利用して鼻唄を録音します。<br>
    お使いのブラウザで、マイク使用の許可をお願いします。
    <%= javascript_include_tag 'new_record.js'%>
  </div>
</div>
